@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

h1 {
  letter-spacing: 2px;
  text-shadow: -1px -1px 0 rgb(146, 146, 146), 1px -1px 0 gb(146, 146, 146),
    -1px 1px 0 gb(146, 146, 146), 1px 1px 0 gb(146, 146, 146);
}
@supports (-webkit-text-stroke-width: 1px) {
  h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(146, 146, 146);
    text-shadow: none;
  }
}

/* .perspective-text:hover p {
  transform: translate(0, -80px);
}
.perspective-text p {
  margin: 0;
  height: 80px;
  line-height: 80px;
  transition: all 0.5s ease-in-out;
} */

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -15deg) scaleY(0.667);
}
/*  transform skew-x-[60deg] skew-y-[-15deg] scale-y-[0.667] */
/* .perspective-line:nth-child(even) {
  transform: skew(0deg, -15deg) scaleY(1.337);
} */

.perspective-line:nth-child(2) {
  box-shadow: -1px -16px 20px 0px rgb(224 1 122 / 0.3);
}
/* .perspective-line:nth-child(3) {
  top: 13px;
}
.perspective-line:nth-child(4) {
  top: 25px;
} */

@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 640px) {
}

@media only screen and (max-width: 639px) {
  /* .perspective-text:hover p {
    transform: translate(0, -40px);
  }
  .perspective-text p {
    height: 40px;
    line-height: 40px;
  } */
  /*   .perspective-line:nth-child(3) {
    top: 7px;
  }
  .perspective-line:nth-child(4) {
    top: 14px;
  } */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */
